<?xml version="1.0" encoding="UTF-8"?>
<settings>
	<audioConfig current="config 1">
		<setup name="config 1">
			<audio soundcard="internal" monoChannel="1" source="deck 1" />
			<audio soundcard="internal" monoChannel="2" source="deck 2" />
			<audio soundcard="defaultin" leftChannel="1" rightChannel="2" source="line in 1" />
			<audio soundcard="defaultin" leftChannel="3" rightChannel="4" source="line in 2" />
			<audio soundcard="defaultin" leftChannel="1" rightChannel="2" source="timecode 1" />
			<audio soundcard="defaultin" leftChannel="3" rightChannel="4" source="timecode 2" />
			<audio soundcard="defaultin" leftChannel="1" rightChannel="2" source="mic" />
		</setup>
	</audioConfig>
	<automation>
		<autoBPMMatch>no</autoBPMMatch>
		<autoPitchLock>no</autoPitchLock>
		<autoGain>auto</autoGain>
		<autoKey>no</autoKey>
		<autoCue>skip silence</autoCue>
		<smartPlay>no</smartPlay>
		<smartPlayLimitPitchRange>yes</smartPlayLimitPitchRange>
		<smartCue>no</smartCue>
		<smartLoop>yes</smartLoop>
		<quantizeLoop>no</quantizeLoop>
		<quantizeSetCue>no</quantizeSetCue>
		<globalQuantize>1 beat</globalQuantize>
		<smartScratch modified="yes">no</smartScratch>
		<cueLoopAutoSync>yes</cueLoopAutoSync>
		<resetPitchOnLoad>no</resetPitchOnLoad>
		<resetEqOnLoad>no</resetEqOnLoad>
		<resetStemsOnLoad>Pads</resetStemsOnLoad>
		<resetFXOnLoad>no</resetFXOnLoad>
		<resetKeyOnLoad>yes</resetKeyOnLoad>
		<autoHeadphones>always</autoHeadphones>
		<pflOnSelect>yes</pflOnSelect>
	</automation>
	<controls>
		<playMode>play-pause</playMode>
		<cueMode>cue</cueMode>
		<hotcueMode>play</hotcueMode>
		<updateHotCueOnCueCombo>yes</updateHotCueOnCueCombo>
		<loopBackMode modified="yes">no</loopBackMode>
		<loopAutoMove>yes</loopAutoMove>
		<loopDefault modified="yes">1.0, 8.0</loopDefault>
		<loopRollDefault>0.250</loopRollDefault>
		<eqMode modified="yes">Frequency</eqMode>
		<eqModeDual>Inner</eqModeDual>
		<stemsBleedMuteVocal>0.80</stemsBleedMuteVocal>
		<stemsBleedMuteInstru>0.30</stemsBleedMuteInstru>
		<stemsBleedOnlyVocal modified="yes">0.0</stemsBleedOnlyVocal>
		<stemsBleedOnlyInstru>0.0</stemsBleedOnlyInstru>
		<vinylMode>yes</vinylMode>
		<masterTempo>yes</masterTempo>
		<pitchRange modified="yes">53.0</pitchRange>
		<autoPitchRange>yes</autoPitchRange>
		<pitchResetSpeed>1.0</pitchResetSpeed>
		<faderStart>no</faderStart>
		<faderStartStop>no</faderStartStop>
		<crossfaderCurve>Full</crossfaderCurve>
		<crossfaderDisable>no</crossfaderDisable>
		<crossfaderCustom />
		<crossfaderHamster>no</crossfaderHamster>
		<effects>Beat Grid,Reverb,Wahwah|Beat Grid,Reverb,Wahwah</effects>
		<internalPluginLocations />
		<masterEffects>Wahwah</masterEffects>
		<mixFx>Echo</mixFx>
		<pluginBanks>Echo,Flanger,Reverb|Cut,Distortion,Wahwah</pluginBanks>
		<padsPagesOrder />
		<padsPagesHidden />
		<sixteenPadsMode>Auto</sixteenPadsMode>
		<padsPagesChanged>deck1-page1=hotcues, deck1-page3=beatjump, deck2-page1=hotcues</padsPagesChanged>
		<padsSkinIndependent>no</padsSkinIndependent>
		<loopPadPage>0</loopPadPage>
		<autoSortCues>no</autoSortCues>
	</controls>
	<skins>
		<skinWaveformType>shapes</skinWaveformType>
		<skinOverviewType>auto</skinOverviewType>
		<skinWaveformScratchType>colors</skinWaveformScratchType>
		<coloredWaveforms>neutral</coloredWaveforms>
		<waveUseFrequency>no</waveUseFrequency>
		<waveGrayOnKill>yes</waveGrayOnKill>
		<waveformCenter>Centered</waveformCenter>
		<skinPlayheadShadow>yes</skinPlayheadShadow>
		<showGridLines>no</showGridLines>
		<beatCounterRange>16</beatCounterRange>
		<rhythmZoom modified="yes">0.307812</rhythmZoom>
		<scratchZoomVertical>0.250</scratchZoomVertical>
		<rhythmZoomSaved>0.250</rhythmZoomSaved>
		<scratchZoomSaved>0.250</scratchZoomSaved>
		<touchScreenMode>no</touchScreenMode>
		<multiTouchTwoFingerScroll>no</multiTouchTwoFingerScroll>
		<onScreenKeyboard>Auto</onScreenKeyboard>
		<skinEmptyButtons>no</skinEmptyButtons>
		<customButtons />
		<skin3FxLayout modified="yes">no</skin3FxLayout>
		<vuMeter>Peak</vuMeter>
		<clockDisplay>24h</clockDisplay>
		<cueDisplay>name</cueDisplay>
		<savedLoopDisplay>name</savedLoopDisplay>
		<displayTime>left</displayTime>
		<keyDisplay>Musical</keyDisplay>
		<cpuMeter>audio</cpuMeter>
		<hideSongInfo>no</hideSongInfo>
		<tooltip>yes</tooltip>
		<tooltipDelay>500</tooltipDelay>
		<showCoverForDragDrop>yes</showCoverForDragDrop>
		<RPM>33 RPM</RPM>
		<dialogsColorTheme>automatic</dialogsColorTheme>
		<cleartype>yes</cleartype>
		<maximized>1</maximized>
		<skin modified="yes">Old:2 Decks</skin>
		<skinLoaded>Default=Starter, Old=2 Decks</skinLoaded>
		<skinPosition />
		<skinWindows />
		<skinPanels>audiomixer, !videomixer, !scratchmixer, !mastermixer, !loopadvance_left, loopdefault_left</skinPanels>
		<skinTextzones />
		<skinSplitState>cover=0.150, sideview=0.650, folders=0.180, info=0.860, effects=0.770906, ads=(0.899435), cover2=0.150, sideview2=0.650, folders2=0.180, info2=0.860, effects2=0.770906, ads2=(0.899435), crossfader=0.50, crossfader2=0.50</skinSplitState>
		<skinRacks />
	</skins>
	<audio>
		<audioAutoDetect>yes</audioAutoDetect>
		<exclusiveAudioAccess>no</exclusiveAudioAccess>
		<splitHeadphones>no</splitHeadphones>
		<equalizerInHeadphones>yes</equalizerInHeadphones>
		<headphonesGain>0.50</headphonesGain>
		<prelistenOutput>0</prelistenOutput>
		<boothMicrophone>no</boothMicrophone>
		<metronomeVolume>2.0</metronomeVolume>
		<gainSliderIncludesAutoGain>yes</gainSliderIncludesAutoGain>
		<faderCurve>0.50</faderCurve>
		<zeroDB>Default</zeroDB>
		<rampStartTime>0.0</rampStartTime>
		<rampStopTime>0.0</rampStopTime>
		<rampScratchTime>0.10</rampScratchTime>
		<equalizerFrequencySpread>Default</equalizerFrequencySpread>
		<equalizerLowFrequency>200</equalizerLowFrequency>
		<equalizerMidFrequency>1700</equalizerMidFrequency>
		<equalizerHighFrequency>6500</equalizerHighFrequency>
		<filterDefaultResonance>Default</filterDefaultResonance>
		<fxProcessing>Pre-fader</fxProcessing>
	</audio>
	<video>
		<useVideoSkin>yes</useVideoSkin>
		<videoSkin>for Live:live</videoSkin>
		<showVideoSkinOnPreview>yes</showVideoSkinOnPreview>
		<videoLogo>yes</videoLogo>
		<videoLogoImage />
		<videoLogoSize>Medium</videoLogoSize>
		<videoLogoPosition>Right-Top</videoLogoPosition>
		<videoCrossfader>Smart</videoCrossfader>
		<videoVolumeLink>no</videoVolumeLink>
		<videoTransition modified="yes">None</videoTransition>
		<videoRandomTransition>no</videoRandomTransition>
		<videoFx modified="yes">Negative</videoFx>
		<videoAudioOnlyVisualisation>Shader</videoAudioOnlyVisualisation>
		<letterBoxing>bars</letterBoxing>
		<videoFPS>30</videoFPS>
		<videoMicroFrames>Smart</videoMicroFrames>
		<videoResampleQuality>Medium</videoResampleQuality>
		<videoShaderQuality>Auto</videoShaderQuality>
		<videoUseDXVA>yes</videoUseDXVA>
		<videoDriver>Intel(R) UHD Graphics</videoDriver>
		<videoMaxMemory>128</videoMaxMemory>
		<videoForceFullscreen>0</videoForceFullscreen>
		<videoDelay>0.0</videoDelay>
		<videoWindowAlwaysOnTop>yes</videoWindowAlwaysOnTop>
		<videoWindowPosition>(0x0 1920x1030)=0x0 400x300</videoWindowPosition>
		<videoCreateLinkOnDrop>yes</videoCreateLinkOnDrop>
		<startVideoOnLoad>yes</startVideoOnLoad>
	</video>
	<karaoke>
		<karaokeBackground>Default</karaokeBackground>
		<karaokeBackgroundMusic>automix</karaokeBackgroundMusic>
		<karaokeBackgroundImage />
		<karaokeBackgroundVolume>0.750</karaokeBackgroundVolume>
		<karaokeVideoSkin>for Karaoke:karaoke</karaokeVideoSkin>
		<karaokeSkipSilence>yes</karaokeSkipSilence>
		<karaokeAutoRemovePlayed>yes</karaokeAutoRemovePlayed>
		<karaokeDualDeck>no</karaokeDualDeck>
	</karaoke>
	<controllers>
		<mixerOrder>3124</mixerOrder>
		<controllerTakeoverMode>Pickup</controllerTakeoverMode>
		<controllerTakeoverModePitch>Pickup</controllerTakeoverModePitch>
		<touchWheelBackspin>yes</touchWheelBackspin>
		<touchWheelForwardspin>no</touchWheelForwardspin>
		<touchWheelSpinThreshold>0.80</touchWheelSpinThreshold>
		<jogSensitivityScratch>1.0</jogSensitivityScratch>
		<jogSensitivityCue>0.50</jogSensitivityCue>
		<jogSensitivityBend>0.050</jogSensitivityBend>
		<jogVibrationProtection>0</jogVibrationProtection>
		<motorWheelInstantPlay>yes</motorWheelInstantPlay>
		<motorWheelInstantStop>yes</motorWheelInstantStop>
		<motorWheelSmoothPercent>75.0</motorWheelSmoothPercent>
		<motorWheelLockTime>1.0</motorWheelLockTime>
		<controllerRefreshRate>0</controllerRefreshRate>
		<controllerWaveFormZoom>3</controllerWaveFormZoom>
		<disableBuiltInDefinitions>no</disableBuiltInDefinitions>
		<createMidiLog>no</createMidiLog>
		<midiLogLevel>Default</midiLogLevel>
		<controllersCustomization />
		<djcButtons />
		<controllerState />
		<controllerMenu />
	</controllers>
	<timecode>
		<timecodeMode>smart</timecodeMode>
		<timecodeType>AutoDetect</timecodeType>
		<timecodeLeadInTime>0.0</timecodeLeadInTime>
		<timecodeAntiSkip>3</timecodeAntiSkip>
		<timecodeNeedleDropSync>yes</timecodeNeedleDropSync>
		<timecodePitchSliderIgnoreBend>yes</timecodePitchSliderIgnoreBend>
		<timecodeSilence>0.20</timecodeSilence>
		<timecodeCalibrationVolume>1.0</timecodeCalibrationVolume>
		<timecodeCalibrationPhase>0.0</timecodeCalibrationPhase>
	</timecode>
	<sampler>
		<samplerBank>AUDIO FX</samplerBank>
		<samplerTriggerMode>on/off</samplerTriggerMode>
		<samplerDefaultLoopMode>locked</samplerDefaultLoopMode>
		<samplerForceNbColumns>0</samplerForceNbColumns>
		<samplerExportLossless>no</samplerExportLossless>
		<samplerDontSaveSource>no</samplerDontSaveSource>
		<samplerOutputToTriggerDeck>no</samplerOutputToTriggerDeck>
		<samplerRootFolder />
		<samplerOutputDeck>0</samplerOutputDeck>
		<samplerApplyEffectsOnDeckOutput>no</samplerApplyEffectsOnDeckOutput>
		<samplerVideoVolumeLink>yes</samplerVideoVolumeLink>
		<autoSideview>yes</autoSideview>
		<samplerImageSize>small</samplerImageSize>
		<samplerHeadphones>yes</samplerHeadphones>
		<samplerShowEffects>no</samplerShowEffects>
	</sampler>
	<browser>
		<fileFormats>mp3,wav,cda,wma,asf,ogg,ogm,ogv,m4a,aac,aif,aiff,flac,mpc,ape,avi,mpg,mpeg,wmv,vob,mov,divx,mp4,m4v,mkv,flv,webm,opus,vdj,vdjcache,vdjcachev,vdjedit,vdjsample</fileFormats>
		<rootFoldersLocation>LocalMusic=root, OnlineMusic=root, Lists=root, Filters=root, MyMusic=LocalMusic, MyVideos=LocalMusic, MyComputer=LocalMusic, Desktop=LocalMusic, Crates=LocalMusic, iTunes=LocalMusic, Traktor=hidden, IDJPool=OnlineMusic, VJPro=OnlineMusic, Digitrax=OnlineMusic, Deezer=OnlineMusic, Tidal=OnlineMusic, Xiami=OnlineMusic, SoundCloud=OnlineMusic, Beatport=OnlineMusic, Beatsource=OnlineMusic, Playlists=Lists, History=Lists, Cloud=Lists, GeniusDJ=Lists, AskTheDJ=Lists, Sampler=Lists, SpotifyPlaylists=Lists</rootFoldersLocation>
		<iTunesDatabaseFile>C:\Users\summe\Music\iTunes\iTunes Library.xml</iTunesDatabaseFile>
		<seratoFolder>C:\Users\summe\Music\_Serato_</seratoFolder>
		<traktorFolder />
		<importV7Databases>yes</importV7Databases>
		<ignoreDrives>0</ignoreDrives>
		<readOnly>no</readOnly>
		<searchInFolder>yes</searchInFolder>
		<searchInDB>yes</searchInDB>
		<searchInContentUnlimited>yes</searchInContentUnlimited>
		<searchInOnlineCatalogs>yes</searchInOnlineCatalogs>
		<ContentUnlimitedWhenEmpty>yes</ContentUnlimitedWhenEmpty>
		<OnlineCatalogsWhenEmpty>yes</OnlineCatalogsWhenEmpty>
		<ContentUnlimitedCatalogs />
		<OnlineCatalogs />
		<showMusic>no</showMusic>
		<showVideo>no</showVideo>
		<showKaraoke>no</showKaraoke>
		<searchFields>7</searchFields>
		<browserColumns>file=titl(25),arti(25),mix(20),leng(10),bpm(10),key(10)|side=titl(40),arti(40),mix(20)|file(samp)=spla(4),spos(4),titl(88),sedi(4)|file(sbnk)=spla(4),spos(4),titl(40),sgrp(20),svol(16),slen(12),sedi(4)</browserColumns>
		<browserSort>file=Bpm|file(samp)=Original Sort Order|file(sbnk)=Original Sort Order</browserSort>
		<browserGridColumns />
		<infoviewColumns>alba,titl,arti,mix,year,albu,genr,remi,comp,bpm,key,leng,1see,Xply,play,comm,usr1,usr2</infoviewColumns>
		<showHorizontalSideList>no</showHorizontalSideList>
		<lockFolderOrder>no</lockFolderOrder>
		<keepSortOrder>yes</keepSortOrder>
		<browserSearchByFirstLetter>yes</browserSearchByFirstLetter>
		<lastSelectedFolder modified="yes">C:\Users\summe\Downloads</lastSelectedFolder>
		<coverFlow>smart</coverFlow>
		<lastTrackListDate modified="yes">2020/08/18</lastTrackListDate>
		<historyDelay>45</historyDelay>
		<writeHistory>yes</writeHistory>
		<prelistenVisible>yes</prelistenVisible>
		<prelistenStopOnChange>no</prelistenStopOnChange>
		<prelistenStartPos>-1.0</prelistenStartPos>
		<autoSearchDB>yes</autoSearchDB>
		<showZipKaraoke>yes</showZipKaraoke>
		<showM3UAsFolders>yes</showM3UAsFolders>
		<fontSize>1.0</fontSize>
		<browserPadding>Big</browserPadding>
		<browserBPMDigits>1</browserBPMDigits>
		<savePlaylist>yes</savePlaylist>
		<saveUnplayedToSidelist>no</saveUnplayedToSidelist>
		<removePlayedFromSidelist>no</removePlayedFromSidelist>
		<browserTextFit>smart</browserTextFit>
		<tracklistFormat>%author - %title</tracklistFormat>
		<shellIcons>no</shellIcons>
		<sideviewShortcuts />
		<sideViewShortcutsHidden />
		<sideView />
		<gridView>no</gridView>
		<triggerPadView>yes</triggerPadView>
		<sideViewReco>remixes</sideViewReco>
		<RemixesViewProvider>iDJPool</RemixesViewProvider>
		<logUnsuccessfulSearches>no</logUnsuccessfulSearches>
		<shazam />
		<filterFolderSplitGenreBySlash>yes</filterFolderSplitGenreBySlash>
		<browserAutoZoom>no</browserAutoZoom>
		<browserFontSizeButtons>no</browserFontSizeButtons>
		<browserDaysSongsAreNew>7</browserDaysSongsAreNew>
		<browserAutoOpenNewDrive>yes</browserAutoOpenNewDrive>
	</browser>
	<tags>
		<getTagsAuto>yes</getTagsAuto>
		<setTagsAuto>no</setTagsAuto>
		<coverDownload>exact</coverDownload>
		<getTitleFromTags>yes</getTitleFromTags>
		<getRatingFromTags>no</getRatingFromTags>
		<getCommentFromTags>yes</getCommentFromTags>
		<getCuesFromTags>for new files</getCuesFromTags>
		<getTagFromZip>yes</getTagFromZip>
		<getRemixWhenParsingFilenames>yes</getRemixWhenParsingFilenames>
		<useKeyFromTag>no</useKeyFromTag>
		<cleanTagsInDeckDisplay>yes</cleanTagsInDeckDisplay>
	</tags>
	<automix>
		<automixMode>smart</automixMode>
		<fadeLength>4.0</fadeLength>
		<automixRepeat>no</automixRepeat>
		<automixAutoRemovePlayed>no</automixAutoRemovePlayed>
		<automixDualDeck>no</automixDualDeck>
		<autoMixBeatMatchOnFade>yes</autoMixBeatMatchOnFade>
		<automixSkipLength>4.0</automixSkipLength>
		<automixMaxLength>0</automixMaxLength>
	</automix>
	<internet>
		<internetProxyURL />
		<internetProxyPort />
		<internetProxyUsername />
		<internetProxyPassword />
		<internetLogin modified="yes">summerellpro@outlook.fr</internetLogin>
		<stayLoggedIn>yes</stayLoggedIn>
		<dontLogin>no</dontLogin>
		<oneTimeMsg>0</oneTimeMsg>
		<checkUpdates>yes</checkUpdates>
		<earlyAccessUpdates>no</earlyAccessUpdates>
		<sendHistory>yes</sendHistory>
		<sendAnonymousStats>yes</sendAnonymousStats>
		<autoRefreshDRM>yes</autoRefreshDRM>
		<liveFeedback>yes</liveFeedback>
		<usageStats>Fx: Flanger:internal, Fx: Beat Grid:internal, Fx: Noise:internal</usageStats>
		<netsearchVideoQuality>hd720</netsearchVideoQuality>
		<xiamiLogin />
		<deezerAccessCode />
		<deezerLoginStatus>0</deezerLoginStatus>
		<soundcloudAccessCode />
		<soundcloudRefreshCode />
		<soundcloudAccessCode2 />
		<tidalRefreshCode />
		<iRemote>no</iRemote>
		<iRemoteList />
		<iRemoteDefaultPort>4243</iRemoteDefaultPort>
		<vdjRemoteDevices />
		<os2l>auto</os2l>
		<os2lDirectIp />
		<askTheDJMonitoring>folder</askTheDJMonitoring>
		<askTheDJFrequency>5</askTheDJFrequency>
		<askTheDJTwitterHashtag />
	</internet>
	<record>
		<recordFile modified="yes">C:\Users\summe\OneDrive\Documents\voice\voice.mp3</recordFile>
		<recordFormat modified="yes">mp3</recordFormat>
		<recordQuality>mid</recordQuality>
		<recordAutoStart>no</recordAutoStart>
		<recordWaitForSound modified="yes">yes</recordWaitForSound>
		<recordOverwrite>change filename</recordOverwrite>
		<recordAutoSplit>no</recordAutoSplit>
		<recordWriteCueFile>no</recordWriteCueFile>
		<recordVideoResolution>852x480</recordVideoResolution>
		<recordMicrophone>yes</recordMicrophone>
		<recordBitDepth>16-bit</recordBitDepth>
	</record>
	<broadcast>
		<broadcastMode>direct</broadcastMode>
		<broadcastVideoQuality>mid</broadcastVideoQuality>
		<broadcastVideoQualityCustom />
		<broadcastServers />
		<broadcastServer>default</broadcastServer>
		<broadcastDirectFormat>mp3</broadcastDirectFormat>
		<broadcastDirectPort>8000</broadcastDirectPort>
		<broadcastDirectQuality>medium</broadcastDirectQuality>
		<broadcastDirectMaxClients>64</broadcastDirectMaxClients>
		<broadcastDirectName />
		<broadcastSongInfo>yes</broadcastSongInfo>
		<broadcastSongInfoFormat>%artist - %titleremix</broadcastSongInfoFormat>
		<podcastName>My VirtualDJ Mix</podcastName>
		<broadcastVideoProvider>0</broadcastVideoProvider>
		<broadcastVideoURL />
		<broadcastVideoKey />
	</broadcast>
	<options>
		<language modified="yes">English</language>
		<loadSecurity>on</loadSecurity>
		<endOfSongWarning>30</endOfSongWarning>
		<autoDiscMarker>no</autoDiscMarker>
		<keyDetection>broad range</keyDetection>
		<sandboxSplitHeadphones>yes</sandboxSplitHeadphones>
		<sandboxPreviewOnly>no</sandboxPreviewOnly>
		<VDJScriptGlobalVariables>$colorscheme=0=0.00000, $4decks=0=0.00000, $waveformpos=0=0.00000, $4mixer=0=0.00000, $phrasecircle=0=0.00000, $4waveforms=0=0.00000, $spinner=1=0.00000, $cfassign=0=0.00000, $jogtype=1818584692=0.00000, $jogcoverart=1818584692=0.00000, $decklayout=0=0.00000</VDJScriptGlobalVariables>
		<crashGuard>yes</crashGuard>
		<crashReportLevel>0</crashReportLevel>
		<poiEditorShowAll>no</poiEditorShowAll>
		<poiEditorSnap>no</poiEditorSnap>
		<database>1596964013</database>
		<lastUsedBuild>6067</lastUsedBuild>
		<lastUse>0</lastUse>
		<timestamp>374084380</timestamp>
		<nonColoredPoi>Default</nonColoredPoi>
		<colorPicker>auto</colorPicker>
		<colorPickersystemCustom />
		<lightShowProgram>Auto</lightShowProgram>
		<settingPage modified="yes">Audio</settingPage>
		<showTutorials modified="yes">no</showTutorials>
		<shopDemoMode>no</shopDemoMode>
		<dontShowAgain>videoskin, eqMode1</dontShowAgain>
		<showTipOfTheDay>yes</showTipOfTheDay>
		<tipOfTheDayAlreadySeen />
		<skinStarterTip>18483</skinStarterTip>
		<limitedEdition>no</limitedEdition>
		<startOfDayHour>8</startOfDayHour>
		<eventSchedule />
	</options>
	<performance>
		<mathEngine>CPU</mathEngine>
		<precomputeStems>Create manually</precomputeStems>
		<skinFPS>30</skinFPS>
		<sampleRate>48000</sampleRate>
		<latency>0</latency>
		<ultraLatency>yes</ultraLatency>
		<maxPreloadLength>60</maxPreloadLength>
		<maxStemLength>39</maxStemLength>
		<pitchQuality>2</pitchQuality>
		<scratchFilterQuality>8</scratchFilterQuality>
		<songLoadPriority>normal</songLoadPriority>
		<experimentalBeatAnalyzer>no</experimentalBeatAnalyzer>
		<experimentalSkinEngine>auto</experimentalSkinEngine>
		<useLowPowerGPU>Default</useLowPowerGPU>
		<experimentalWaveColors>yes</experimentalWaveColors>
		<safeVideoDecode>no</safeVideoDecode>
		<keepBPMonAnalyzerUpdate>no</keepBPMonAnalyzerUpdate>
		<peakAudioCpu modified="yes">0.044460</peakAudioCpu>
	</performance>
</settings>
